[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-session = "*"
pymongo = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.6"
